.nav-bar {
    width: 100vw;
    height: 10vh;
    padding: 1vh 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(25,25,25);
    border-bottom: 2px solid brown;
}

.nav-title {
    color: rgba(255,255,255,.75);
}

.nav-btn-wrapper {
    position: relative;
}

.nav-btn {
    margin-left: 2vw;
    padding-bottom: 3px;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    color: rgba(255,255,255,.75);
    cursor: pointer;
    transition: 500ms;
}

.nav-btn:hover {
    border-color: rgba(255,255,255,.75);
}

.nav-panier-counter {
    position: absolute;
    right: 5%;
    width: 1vw;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-family: monospace;
    font-size: 1rem;
}