@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    font-family: "Bungee Hairline", cursive;
    font-weight: bold;
}

@media only screen and (max-width: 648px) {
    a {
        color: orange;
        text-decoration: none;
        font-size: 0.5rem;
        font-family: "Bungee Hairline", cursive;
    }
    p {
        color: rgba(255,255,255,.75);
        letter-spacing: 0.1rem;
        text-align: center;
        font-family: monospace;
    }
}

@media only screen and (min-width: 648px) {
    a {
        color: orange;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: bold;
        font-family: "Bungee Hairline", cursive;
    }

    p {
        color: rgba(255,255,255,.75);
        letter-spacing: 0.25rem;
        text-align: justify;
        font-family: "Bungee Hairline", cursive;
        font-weight: bold;
    }
}

h3 {
    font-family: monospace;
    color: rgba(255,255,255,.75);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25,25,25);
    overflow: auto;
}

::-webkit-scrollbar {
    width: 15px;
                
}

/* Track */
::-webkit-scrollbar-track {
    background: royalblue; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: orange;
                
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: brown;
}